In [55]:
import sqlite3
import pandas as pd

In [56]:
Cinema = "data/im.db"
Budget = "data/tn.movie_budgets.csv"

In [57]:
conn = sqlite3.connect(Cinema)
cursor = conn.cursor()

## Creating a Table from our SQL data ##

In [ ]:
pd.read_sql("""
CREATE TABLE Movie_info AS
SELECT mb.movie_id, mb.primary_title, mb.start_year, mb.genres, d.person_id, p.primary_name
FROM movie_basics mb
JOIN directors d ON mb.movie_id = d.movie_id
JOIN persons p ON d.person_id = p.person_id
ORDER BY start_year DESC
;
"""

, conn)

In [58]:
pd.read_sql("""
SELECT *
FROM Movie_info
;
"""
,conn)

,movie_id,primary_title,start_year,genres,person_id,primary_name
0,tt5174640,100 Years,2115,Drama,nm0001675,Robert Rodriguez
1,tt5637536,Avatar 5,2027,"Action,Adventure,Fantasy",nm0000116,James Cameron
2,tt5637536,Avatar 5,2027,"Action,Adventure,Fantasy",nm0000116,James Cameron
3,tt3095356,Avatar 4,2025,"Action,Adventure,Fantasy",nm0000116,James Cameron
4,tt3095356,Avatar 4,2025,"Action,Adventure,Fantasy",nm0000116,James Cameron
...,...,...,...,...,...,...
291166,tt9852508,Viyapath Bambara,2010,Drama,nm10510269,Prasad De Silva
291167,tt9875120,Frostbite,2010,Documentary,nm2901551,Jorge Requena Ramos
291168,tt9875242,15 Fotografii,2010,Drama,nm2437971,Franciszek Dzida
291169,tt9878374,Regi lagni comprensorio di stato,2010,Documentary,nm3462989,Loris Arduino
291170,tt9905932,Footloose in London: All the Best Sights of ou...,2010,None,nm1645815,David Rixon

- Naming our connection

In [59]:
Movie_Info = pd.read_sql_query("SELECT * FROM Movie_info", conn)

In [60]:
Movie_Budget = pd.read_csv(Budget)

- Renaming the columns in our Movie_Info data.

In [61]:
Movie_Info.rename(columns={"primary_title": "Title", "start_year": "Year", "primary_name": "Director", "genres": "Genre"}, inplace = True)

- Dropping columns that are no longer necessary.

In [62]:
Movie_Info.drop(columns = ["movie_id", "person_id"], inplace = True)

- Dropping NULL values in the Genre column.

In [63]:
Movie_Info.dropna(subset=["Genre"], inplace = True)

- Consolidating the Genre column

In [64]:
Movie_Info.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 284612 entries, 0 to 291169
Data columns (total 4 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Title     284612 non-null  object
 1   Year      284612 non-null  int64
 2   Genre     284612 non-null  object
 3   Director  284612 non-null  object
dtypes: int64(1), object(3)
memory usage: 10.9+ MB

- Dropping duplicates.

In [65]:
Movie_Info["Genre"].value_counts()

Documentary                   48771
Drama                         40104
Comedy                        19939
Horror                        16418
Comedy,Drama                   7492
                              ...
Documentary,Musical,News          1
Action,Documentary,Fantasy        1
Adventure,Romance,Sci-Fi          1
Animation,Music,Mystery           1
History,Horror,Mystery            1
Name: Genre, Length: 1076, dtype: int64

In [79]:
Movie_Info["Primary_Genre"] = Movie_Info["Genre"].apply(lambda x: "Horror" if "Horror" in x else ("Drama" if "Drama" in x else ("Animation" if "Animation" in x else ( "Sci-Fi" if "Sci-Fi" in x else ("Action" if "Action" in x else ("Comedy" if "Comedy" in x else ""))))))

In [80]:
Movie_Info.head(30)

,Title,Year,Genre,Director,Primary_Genre
0,100 Years,2115,Drama,Robert Rodriguez,Drama
1,Avatar 5,2027,"Action,Adventure,Fantasy",James Cameron,Action
2,Avatar 5,2027,"Action,Adventure,Fantasy",James Cameron,Action
3,Avatar 4,2025,"Action,Adventure,Fantasy",James Cameron,Action
4,Avatar 4,2025,"Action,Adventure,Fantasy",James Cameron,Action
5,Fantastic Beasts and Where to Find Them 5,2024,"Adventure,Family,Fantasy",David Yates,
6,Avatar 3,2023,"Action,Adventure,Drama",James Cameron,Drama
7,Avatar 3,2023,"Action,Adventure,Drama",James Cameron,Drama
8,Avatar 3,2023,"Action,Adventure,Drama",James Cameron,Drama
9,Avatar 3,2023,"Action,Adventure,Drama",James Cameron,Drama
10,Wraith of the Umbra and Eidolon II,2023,"Adventure,Drama,Fantasy",Morten K. VebjÃ¸rnsen,Drama
11,Wraith of the Umbra and Eidolon II,2023,"Adventure,Drama,Fantasy",Morten K. VebjÃ¸rnsen,Drama
12,The Hunchback of the Lighthouse,2022,Drama,Joseph Oliveira,Drama
13,Corazones en Llamas 5,2022,Action,Juanjo MartÃ­nez,Action
14,The Weary Traveler,2022,Horror,Chris R. Notarile,Horror
15,The Weary Traveler,2022,Horror,Chris R. Notarile,Horror
16,The Weary Traveler,2022,Horror,Chris R. Notarile,Horror
17,Mi Asesino Favorito,2022,"Comedy,Crime",Juanjo MartÃ­nez,Comedy
18,Nepotism Kingdom,2022,"Action,Drama,Thriller",Sammie Johnson,Drama
19,Drain Baby,2022,"Comedy,Drama,Fantasy",Zach Kaplan,Drama
20,Drain Baby,2022,"Comedy,Drama,Fantasy",Zach Kaplan,Drama
21,Drain Baby,2022,"Comedy,Drama,Fantasy",Sebastian Freije-Urdaneta,Drama
22,Drain Baby,2022,"Comedy,Drama,Fantasy",Sebastian Freije-Urdaneta,Drama
23,Triple OG,2022,Action,Mykel Shannon Jenkins,Action
24,La plus prÃ©cieuse des marchandises,2022,Animation,Michel Hazanavicius,Animation
25,La plus prÃ©cieuse des marchandises,2022,Animation,Michel Hazanavicius,Animation
26,Minecraft the First Movie,2022,"Action,Adventure,Documentary",Peter Sollett,Action
27,Minecraft the First Movie,2022,"Action,Adventure,Documentary",Peter Sollett,Action
28,Girl of Ashima,2022,Animation,William Kan,Animation
29,Girl of Ashima,2022,Animation,William Kan,Animation

In [81]:
Movie_Info.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 284612 entries, 0 to 291169
Data columns (total 5 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Title          284612 non-null  object
 1   Year           284612 non-null  int64
 2   Genre          284612 non-null  object
 3   Director       284612 non-null  object
 4   Primary_Genre  284612 non-null  object
dtypes: int64(1), object(4)
memory usage: 13.0+ MB

In [82]:
Movie_Info.drop_duplicates(inplace = True)

- Resetting index.

In [83]:
Movie_Info.reset_index(inplace = True, drop = True)

- Looking at our Movie_Info data

In [84]:
Movie_Info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159425 entries, 0 to 159424
Data columns (total 5 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Title          159425 non-null  object
 1   Year           159425 non-null  int64
 2   Genre          159425 non-null  object
 3   Director       159425 non-null  object
 4   Primary_Genre  159425 non-null  object
dtypes: int64(1), object(4)
memory usage: 6.1+ MB

- Renaming Columns in the Movie_Budget data to match our Movie_Info data and dropping the id column.

In [85]:
Movie_Budget.rename(columns={"movie": "Title", "release_date": "Year", "production_budget": "Budget", "domestic_gross": "Dom_Gross", "worldwide_gross": "WW_Gross"}, inplace = True)
Movie_Budget.drop(columns = ["id"], inplace = True)

- Sanity Check

In [86]:
Movie_Budget.head()

,Year,Title,Budget,Dom_Gross,WW_Gross
0,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

In [87]:
Movie_Budget.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Year       5782 non-null   object
 1   Title      5782 non-null   object
 2   Budget     5782 non-null   object
 3   Dom_Gross  5782 non-null   object
 4   WW_Gross   5782 non-null   object
dtypes: object(5)
memory usage: 226.0+ KB

- Converting the Year column from an object to datetime and filtering to show the year, in order to match our Movie_Info data.

In [88]:
Movie_Budget["Year"] = pd.to_datetime(Movie_Budget['Year'])
Movie_Budget["Year"] = Movie_Budget["Year"].dt.year

In [89]:
Movie_Budget.head()

,Year,Title,Budget,Dom_Gross,WW_Gross
0,2009,Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2011,Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,2019,Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,2015,Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,2017,Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

- Now to merge both Data sets together.

In [90]:
df = pd.merge(Movie_Info, Movie_Budget, on = ["Title", "Year"])
df.head()

,Title,Year,Genre,Director,Primary_Genre,Budget,Dom_Gross,WW_Gross
0,Call of the Wild,2020,"Adventure,Animation,Family",Chris Sanders,Animation,"$82,000,000",$0,$0
1,Alita: Battle Angel,2019,"Action,Adventure,Sci-Fi",Robert Rodriguez,Sci-Fi,"$170,000,000","$85,710,210","$402,976,036"
2,Shazam!,2019,"Action,Adventure,Comedy",David F. Sandberg,Action,"$85,000,000","$139,606,856","$362,899,733"
3,Pet Sematary,2019,"Horror,Mystery,Thriller",Dennis Widmyer,Horror,"$21,000,000","$54,724,696","$109,501,146"
4,Pet Sematary,2019,"Horror,Mystery,Thriller",Kevin KÃ¶lsch,Horror,"$21,000,000","$54,724,696","$109,501,146"

- Filtering to only show movies from the year 2010 - 2022

In [91]:
df = df[(df["Year"] >= 2010) & (df["Year"] <= 2022)]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1695 entries, 0 to 1694
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Title          1695 non-null   object
 1   Year           1695 non-null   int64
 2   Genre          1695 non-null   object
 3   Director       1695 non-null   object
 4   Primary_Genre  1695 non-null   object
 5   Budget         1695 non-null   object
 6   Dom_Gross      1695 non-null   object
 7   WW_Gross       1695 non-null   object
dtypes: int64(1), object(7)
memory usage: 119.2+ KB

In [92]:
df =df.drop(df[(df["Dom_Gross"] == "$0") | (df["WW_Gross"] == "$0")].index)

In [93]:
df.head()

,Title,Year,Genre,Director,Primary_Genre,Budget,Dom_Gross,WW_Gross
1,Alita: Battle Angel,2019,"Action,Adventure,Sci-Fi",Robert Rodriguez,Sci-Fi,"$170,000,000","$85,710,210","$402,976,036"
2,Shazam!,2019,"Action,Adventure,Comedy",David F. Sandberg,Action,"$85,000,000","$139,606,856","$362,899,733"
3,Pet Sematary,2019,"Horror,Mystery,Thriller",Dennis Widmyer,Horror,"$21,000,000","$54,724,696","$109,501,146"
4,Pet Sematary,2019,"Horror,Mystery,Thriller",Kevin KÃ¶lsch,Horror,"$21,000,000","$54,724,696","$109,501,146"
5,UglyDolls,2019,"Adventure,Animation,Comedy",Kelly Asbury,Animation,"$45,000,000","$19,894,664","$24,644,664"

In [94]:
df["Dom_Gross"] = df["Dom_Gross"].str.replace("$","")
df["WW_Gross"] = df["WW_Gross"].str.replace("$","")
df["Budget"] = df["Budget"].str.replace("$","")
df["Dom_Gross"] = df["Dom_Gross"].str.replace(",","")
df["WW_Gross"] = df["WW_Gross"].str.replace(",","")
df["Budget"] = df["Budget"].str.replace(",","")
df["Dom_Gross"] = df["Dom_Gross"].astype(int)
df["WW_Gross"] = df["WW_Gross"].astype(int)
df["Budget"] = df["Budget"].astype(int)

In [95]:
df["Net_Profit"] = df["WW_Gross"] - df["Budget"]
df.head()

,Title,Year,Genre,Director,Primary_Genre,Budget,Dom_Gross,WW_Gross,Net_Profit
1,Alita: Battle Angel,2019,"Action,Adventure,Sci-Fi",Robert Rodriguez,Sci-Fi,170000000,85710210,402976036,232976036
2,Shazam!,2019,"Action,Adventure,Comedy",David F. Sandberg,Action,85000000,139606856,362899733,277899733
3,Pet Sematary,2019,"Horror,Mystery,Thriller",Dennis Widmyer,Horror,21000000,54724696,109501146,88501146
4,Pet Sematary,2019,"Horror,Mystery,Thriller",Kevin KÃ¶lsch,Horror,21000000,54724696,109501146,88501146
5,UglyDolls,2019,"Adventure,Animation,Comedy",Kelly Asbury,Animation,45000000,19894664,24644664,-20355336

In [96]:
df["Net_Profit"] = df["Net_Profit"].apply(lambda x: "${:,.2f}".format(x))
df["Dom_Gross"] = df["Dom_Gross"].apply(lambda x: "${:,.2f}".format(x))
df["WW_Gross"] = df["WW_Gross"].apply(lambda x: "${:,.2f}".format(x))
df["Budget"] = df["Budget"].apply(lambda x: "${:,.2f}".format(x))
df.head(30)

,Title,Year,Genre,Director,Primary_Genre,Budget,Dom_Gross,WW_Gross,Net_Profit
1,Alita: Battle Angel,2019,"Action,Adventure,Sci-Fi",Robert Rodriguez,Sci-Fi,"$170,000,000.00","$85,710,210.00","$402,976,036.00","$232,976,036.00"
2,Shazam!,2019,"Action,Adventure,Comedy",David F. Sandberg,Action,"$85,000,000.00","$139,606,856.00","$362,899,733.00","$277,899,733.00"
3,Pet Sematary,2019,"Horror,Mystery,Thriller",Dennis Widmyer,Horror,"$21,000,000.00","$54,724,696.00","$109,501,146.00","$88,501,146.00"
4,Pet Sematary,2019,"Horror,Mystery,Thriller",Kevin KÃ¶lsch,Horror,"$21,000,000.00","$54,724,696.00","$109,501,146.00","$88,501,146.00"
5,UglyDolls,2019,"Adventure,Animation,Comedy",Kelly Asbury,Animation,"$45,000,000.00","$19,894,664.00","$24,644,664.00","$-20,355,336.00"
6,Rocketman,2019,"Biography,Drama,Music",Dexter Fletcher,Drama,"$41,000,000.00","$57,342,725.00","$108,642,725.00","$67,642,725.00"
7,Long Shot,2019,"Comedy,Romance",Jonathan Levine,Comedy,"$40,000,000.00","$30,202,860.00","$43,711,031.00","$3,711,031.00"
8,Hellboy,2019,"Action,Adventure,Fantasy",Neil Marshall,Action,"$50,000,000.00","$21,903,748.00","$40,725,492.00","$-9,274,508.00"
9,Men in Black: International,2019,"Action,Adventure,Comedy",F. Gary Gray,Action,"$110,000,000.00","$3,100,000.00","$3,100,000.00","$-106,900,000.00"
10,How to Train Your Dragon: The Hidden World,2019,"Action,Adventure,Animation",Dean DeBlois,Animation,"$129,000,000.00","$160,791,800.00","$519,258,283.00","$390,258,283.00"
12,Godzilla: King of the Monsters,2019,"Action,Adventure,Fantasy",Michael Dougherty,Action,"$170,000,000.00","$85,576,941.00","$299,276,941.00","$129,276,941.00"
13,Dumbo,2019,"Adventure,Family,Fantasy",Tim Burton,,"$170,000,000.00","$113,883,318.00","$345,004,422.00","$175,004,422.00"
15,Captain Marvel,2019,"Action,Adventure,Sci-Fi",Ryan Fleck,Sci-Fi,"$175,000,000.00","$426,525,952.00","$1,123,061,550.00","$948,061,550.00"
16,Captain Marvel,2019,"Action,Adventure,Sci-Fi",Anna Boden,Sci-Fi,"$175,000,000.00","$426,525,952.00","$1,123,061,550.00","$948,061,550.00"
17,Shaft,2019,"Action,Comedy,Crime",Tim Story,Action,"$30,000,000.00","$600,000.00","$600,000.00","$-29,400,000.00"
18,The Prodigy,2019,"Horror,Thriller",Nicholas McCarthy,Horror,"$6,000,000.00","$14,856,291.00","$19,789,712.00","$13,789,712.00"
19,The Best of Enemies,2019,"Biography,Drama,History",Robin Bissell,Drama,"$10,000,000.00","$10,205,616.00","$10,205,616.00","$205,616.00"
20,The Secret Life of Pets 2,2019,"Adventure,Animation,Comedy",Chris Renaud,Animation,"$80,000,000.00","$63,795,655.00","$113,351,496.00","$33,351,496.00"
21,The Secret Life of Pets 2,2019,"Adventure,Animation,Comedy",Jonathan del Val,Animation,"$80,000,000.00","$63,795,655.00","$113,351,496.00","$33,351,496.00"
23,Cold Pursuit,2019,"Action,Crime,Drama",Hans Petter Moland,Drama,"$60,000,000.00","$32,138,862.00","$62,599,159.00","$2,599,159.00"
25,Miss Bala,2019,"Action,Crime,Drama",Catherine Hardwicke,Drama,"$15,000,000.00","$14,998,027.00","$15,362,298.00","$362,298.00"
26,Captive State,2019,"Sci-Fi,Thriller",Rupert Wyatt,Sci-Fi,"$25,000,000.00","$5,958,315.00","$8,993,300.00","$-16,006,700.00"
27,Late Night,2019,"Comedy,Drama",Nisha Ganatra,Drama,"$4,000,000.00","$246,305.00","$246,305.00","$-3,753,695.00"
28,Aladdin,2019,"Adventure,Comedy,Family",Guy Ritchie,Comedy,"$182,000,000.00","$246,734,314.00","$619,234,314.00","$437,234,314.00"
29,Wonder Park,2019,"Adventure,Animation,Comedy",Dylan Brown,Animation,"$100,000,000.00","$45,216,793.00","$115,149,422.00","$15,149,422.00"
30,Five Feet Apart,2019,"Drama,Romance",Justin Baldoni,Drama,"$7,000,000.00","$45,729,221.00","$80,504,421.00","$73,504,421.00"
31,Serenity,2019,"Drama,Mystery,Sci-Fi",Steven Knight,Drama,"$25,000,000.00","$8,547,045.00","$11,367,029.00","$-13,632,971.00"
32,Dark Phoenix,2019,"Action,Adventure,Sci-Fi",Simon Kinberg,Sci-Fi,"$350,000,000.00","$42,762,350.00","$149,762,350.00","$-200,237,650.00"
33,The Intruder,2019,"Drama,Horror,Mystery",Deon Taylor,Horror,"$8,000,000.00","$35,095,904.00","$36,005,871.00","$28,005,871.00"
34,The Kid Who Would Be King,2019,"Action,Adventure,Family",Joe Cornish,Action,"$59,000,000.00","$16,790,790.00","$28,348,446.00","$-30,651,554.00"

In [98]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1510 entries, 1 to 1693
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Title          1510 non-null   object
 1   Year           1510 non-null   int64
 2   Genre          1510 non-null   object
 3   Director       1510 non-null   object
 4   Primary_Genre  1510 non-null   object
 5   Budget         1510 non-null   object
 6   Dom_Gross      1510 non-null   object
 7   WW_Gross       1510 non-null   object
 8   Net_Profit     1510 non-null   object
dtypes: int64(1), object(8)
memory usage: 118.0+ KB